### Neighborhoods in Toronto
In this assignment, you will be required to explore, segment, and cluster the neighborhoods in the city of Toronto. However, unlike New York, the neighborhood data is not readily available on the internet. What is interesting about the field of data science is that each project can be challenging in its unique way, so you need to learn to be agile and refine the skill to learn new libraries and tools quickly depending on the project.

For the Toronto neighborhood data, a Wikipedia page exists that has all the information we need to explore and cluster the neighborhoods in Toronto. You will be required to scrape the Wikipedia page and wrangle the data, clean it, and then read it into a pandas dataframe so that it is in a structured format like the New York dataset.

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

import folium # map rendering library

# import k-means from clustering stage
from sklearn.cluster import KMeans

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

So now let's get the table from wikipedia website with the following considerations: </br>

- The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

- Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned

- If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [15]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find("table")
table_rows = table.tbody.find_all("tr")

res = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    if row != [] and row[1] != "Not assigned":
        # If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.
        if "Not assigned" in row[2]: 
            row[2] = row[1]
        res.append(row)

# Dataframe with 3 columns
df = pd.DataFrame(res, columns = ["PostalCode", "Borough", "Neighborhood"])
df["Neighborhood"] = df["Neighborhood"].str.replace("\n","")
df["PostalCode"] = df["PostalCode"].str.replace("\n","")
df.head()

  PostalCode             Borough               Neighborhood
0        M1A      Not assigned\n               Not assigned
1        M2A      Not assigned\n               Not assigned
2        M3A        North York\n                  Parkwoods
3        M4A        North York\n           Victoria Village
4        M5A  Downtown Toronto\n  Regent Park, Harbourfront

    Ok done. Now we have to group the neighborhoods with the same PC

In [16]:
df = df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  PostalCode         Borough                            Neighborhood
0        M1A  Not assigned\n                            Not assigned
1        M1B   Scarborough\n                          Malvern, Rouge
2        M1C   Scarborough\n  Rouge Hill, Port Union, Highland Creek
3        M1E   Scarborough\n       Guildwood, Morningside, West Hill
4        M1G   Scarborough\n                                  Woburn

In [17]:
print("Shape: ", df.shape)

Shape:  (180, 3)

### Item 2
Now that you have built a dataframe of the postal code of each neighborhood along with the borough name and neighborhood name, in order to utilize the Foursquare location data, we need to get the latitude and the longitude coordinates of each neighborhood.

I couldn't make Geocoder to work, therefore I used the geographical coordinates of the neighborhoods using the provided csv.

In [18]:
df_geo_coor = pd.read_csv("C:/Users/salcedo1/Desktop/projects/Coursera_Capstone/Geospatial_Coordinates.csv")
df_geo_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [19]:
df_toronto = pd.merge(df, df_geo_coor, how='left', left_on = 'PostalCode', right_on = 'Postal Code')
# remove the "Postal Code" column
df_toronto.drop("Postal Code", axis=1, inplace=True)
df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1A,Not assigned\n,Not assigned,NaN,NaN
1,M1B,Scarborough\n,"Malvern, Rouge",43.806686,-79.194353
2,M1C,Scarborough\n,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
3,M1E,Scarborough\n,"Guildwood, Morningside, West Hill",43.763573,-79.188711
4,M1G,Scarborough\n,Woburn,43.770992,-79.216917